.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxWrapper {
    position: fixed;
    bottom: 30px;
    width: 50%;
    background-color: transparent;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconHolder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray;
    color: lightgray;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: all 350ms;
}

.iconHolder:hover {
    background-color: #48a6e5;
    color: lightblue;
}

.Container {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}